@model IEnumerable<ECom.Models.Product>

@{
    ViewData["Title"] = "Home Page";
}
@*
    <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>

    <table class="table">
    <thead>
    <tr>
    <th>
    @Html.DisplayNameFor(model => model.Name)
    </th>
    <th>
    @Html.DisplayNameFor(model => model.ReleaseDate)
    </th>
    <th>
    @Html.DisplayNameFor(model => model.Category)
    </th>
    <th>
    @Html.DisplayNameFor(model => model.Manufacture)
    </th>
    <th>
    @Html.DisplayNameFor(model => model.Description)
    </th>
    <th>
    @Html.DisplayNameFor(model => model.Price)
    </th>
    <th>
    @Html.DisplayNameFor(model => model.Discount)
    </th>
    <th>
    @Html.DisplayNameFor(model => model.Quantity)
    </th>
    <th>
    @Html.DisplayNameFor(model => model.ImageUrl)
    </th>
    <th>
    Image
    </th>
    <th>
    @Html.DisplayNameFor(model => model.IsDeleted)
    </thead>
    <tbody>
    @foreach (var item in Model) {
    <tr>
    <td>
    @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
    @Html.DisplayFor(modelItem => item.ReleaseDate)
    </td>
    <td>
    @Html.DisplayFor(modelItem => item.Category.Name)
    </td>
    <td>
    @Html.DisplayFor(modelItem => item.Manufacture.Name)
    </td>
    <td>
    @Html.DisplayFor(modelItem => item.Description)
    </td>
    <td>
    <script>
    eval(Math.trunc("@item.Price"))
    </script>
    </td>
    <td>
    @Html.DisplayFor(modelItem => item.Discount)
    </td>
    <td>
    @item.Quantity
    </td>
    <td>
    @item.ImageUrl
    </td>
    <td>
    <img src="@item.ImageUrl"></img>
    </td>
    <td>
    @Html.DisplayFor(modelItem => item.IsDeleted)
    </td>
    </tr>
    }
    </tbody>
    </table>
*@

<section class="hero">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="hero__categories">
                    <div class="hero__categories__all">
                        <i class="fa fa-bars"></i>
                        <span>Tất cả ngành hàng</span>
                    </div>
                    <ul>
                        <li><a href="#">Điện thoại</a></li>
                        <li><a href="#">Sạc, cáp</a></li>
                        <li><a href="#">Tai nghe</a></li>
                        <li><a href="#">Ốp lưng điện thoại</a></li>
                        <li><a href="#">Khác</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="hero__search">
                    <div class="hero__search__form">
                        <form action="#">
                            <div class="hero__search__categories">
                                Tất cả sản phẩm
                                <span class="arrow_carrot-down"></span>
                            </div>
                            <input type="text" placeholder="Bạn muốn tìm kiếm sản phẩm gì?">
                            <button type="submit" class="site-btn">TÌM KIẾM</button>
                        </form>
                    </div>
                    <div class="hero__search__phone">
                        <div class="hero__search__phone__icon">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="hero__search__phone__text">
                            <h5>+84 334 840 864</h5>
                            <span>Hỗ trợ 24/7</span>
                        </div>
                    </div>
                </div>
                <div class="hero__item set-bg" data-setbg="img/banner/banner_3.jpg">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="categories">
    <div class="container">
        <div class="row">
            <div class="categories__slider owl-carousel">
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="img/categories/dienthoai_1.jpg">
                        <h5><a href="#">ĐIỆN THOẠI</a></h5>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="img/categories/phukien.jpg">
                        <h5><a href="#">SẠC, CÁP</a></h5>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="img/categories/amthanh.jpg">
                        <h5><a href="#">TAI NGHE</a></h5>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="img/categories/oplung.jpg">
                        <h5><a href="#">ỐP LƯNG ĐIỆN THOẠI</a></h5>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="img/categories/khac.jpg">
                        <h5><a href="#">KHÁC</a></h5>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="img/categories/tintuc.jpg">
                        <h5><a href="#">TIN TỨC</a></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="featured spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>TẤT CẢ NGÀNH HÀNG</h2>
                </div>
                @*<div class="featured__controls">
                    <ul>
                    <li data-filter=".all">Tất cả ngành hàng</li>
                    <li data-filter=".dienthoai">Điện thoại</li>
                    <li data-filter=".saccap">Sạc, cáp</li>
                    <li data-filter=".tainghe">Tai nghe</li>
                    <li data-filter=".oplung">Ốp lưng điện thoại</li>
                    <li data-filter=".khac">Giá đỡ điện thoại, túi chống nước, móc điện thoại</li>
                    </ul>
                    </div>*@
            </div>
        </div>
        <div class="row featured__filter">
            @foreach (var item in Model)
            {
                <div class="col-lg-3 col-md-4 col-sm-6 dienthoai mix all">
                    <div class="product__discount__item">
                        <div class="product__discount__item__pic set-bg"
                         data-setbg="@item.ImageUrl">
                            <div class="product__discount__percent">-@item.Discount</div>
                            <ul class="product__item__pic__hover">
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="product__discount__item__text">
                            <h5><a href="#">@item.Name</a></h5>
                            <div class="product__item__price">@item.Price<span>@(item.Price * item.Discount)</span></div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<!-- Featured Section End -->
<!-- Banner Begin -->
<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="banner__pic">
                    <img src="img/banner/banner_4.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="banner__pic">
                    <img src="img/banner/banner_5.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner End -->
<!-- Latest Product Section Begin -->
<section class="latest-product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="latest-product__text">
                    <h4>SẢN PHẨM MỚI NHẤT</h4>
                    <div class="latest-product__slider owl-carousel">
                        <div class="latest-prdouct__slider__item">
                            <a href="#" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img src="img/latest-product/iphone13promax.jpg" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>Apple iPhone 13 Pro Max</h6>
                                    <span>28.990.000đ</span>
                                </div>
                            </a>
                            <a href="#" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img src="img/latest-product/xiaomi-11t-pro-5g-8gb-thumb-600x600.jpeg" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>Xiaomi 11T 5G</h6>
                                    <span>9.490.000đ</span>
                                </div>
                            </a>
                            <a href="#" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img src="img/latest-product/realme8.jpg" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>Realme 8</h6>
                                    <span>7.290.000đ</span>
                                </div>
                            </a>
                        </div>
                        <div class="latest-prdouct__slider__item">
                            <a href="#" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img src="img/latest-product/opporeno7.jpg" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>Oppo Reno7 5G</h6>
                                    <span>12.990.000đ</span>
                                </div>
                            </a>
                            <a href="#" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img src="img/latest-product/samsung-galaxy-z-fold-3-silver-1-600x600.jpg" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>Samsung Galaxy Z Fold 3 5G</h6>
                                    <span>37.990.000đ</span>
                                </div>
                            </a>
                            <a href="#" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img src="img/latest-product/tainghe/bluetooth-airpods-pro-magsafe-charge-apple-mlwk3-thumb-600x600.jpg" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>Tai nghe Bluetooth AirPods Pro MagSafe Charge Apple MLWK3 Trắng</h6>
                                    <span>4.890.000đ</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="latest-product__text">
                    <h4>XU HƯỚNG MUA SẮM</h4>
                    <div class="latest-product__slider owl-carousel">
                        <div class="latest-prdouct__slider__item">
                            <a href="#" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img src="img/latest-product/iphone13promax.jpg" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>Apple iPhone 13 Pro Max</h6>
                                    <span>28.990.000đ</span>
                                </div>
                            </a>
                            <a href="#" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img src="img/latest-product/xiaomi-11t-pro-5g-8gb-thumb-600x600.jpeg" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>Xiaomi 11T 5G</h6>
                                    <span>9.490.000đ</span>
                                </div>
                            </a>
                            <a href="#" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img src="img/latest-product/realme8.jpg" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>Realme 8</h6>
                                    <span>7.290.000đ</span>
                                </div>
                            </a>
                        </div>
                        <div class="latest-prdouct__slider__item">
                            <a href="#" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img src="img/latest-product/opporeno7.jpg" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>Oppo Reno7 5G</h6>
                                    <span>12.990.000đ</span>
                                </div>
                            </a>
                            <a href="#" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img src="img/latest-product/samsung-galaxy-z-fold-3-silver-1-600x600.jpg" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>Samsung Galaxy Z Fold 3 5G</h6>
                                    <span>37.990.000đ</span>
                                </div>
                            </a>
                            <a href="#" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img src="img/latest-product/tainghe/bluetooth-airpods-pro-magsafe-charge-apple-mlwk3-thumb-600x600.jpg" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>Tai nghe Bluetooth AirPods Pro MagSafe Charge Apple MLWK3 Trắng</h6>
                                    <span>4.890.000đ</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="latest-product__text">
                    <h4>SẢN PHẨM NỔI BẬT</h4>
                    <div class="latest-product__slider owl-carousel">
                        <div class="latest-prdouct__slider__item">
                            <a href="#" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img src="img/latest-product/iphone13promax.jpg" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>Apple iPhone 13 Pro Max</h6>
                                    <span>28.990.000đ</span>
                                </div>
                            </a>
                            <a href="#" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img src="img/latest-product/xiaomi-11t-pro-5g-8gb-thumb-600x600.jpeg" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>Xiaomi 11T 5G</h6>
                                    <span>9.490.000đ</span>
                                </div>
                            </a>
                            <a href="#" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img src="img/latest-product/realme8.jpg" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>Realme 8</h6>
                                    <span>7.290.000đ</span>
                                </div>
                            </a>
                        </div>
                        <div class="latest-prdouct__slider__item">
                            <a href="#" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img src="img/latest-product/opporeno7.jpg" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>Oppo Reno7 5G</h6>
                                    <span>12.990.000đ</span>
                                </div>
                            </a>
                            <a href="#" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img src="img/latest-product/samsung-galaxy-z-fold-3-silver-1-600x600.jpg" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>Samsung Galaxy Z Fold 3 5G</h6>
                                    <span>37.990.000đ</span>
                                </div>
                            </a>
                            <a href="#" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img src="img/latest-product/tainghe/bluetooth-airpods-pro-magsafe-charge-apple-mlwk3-thumb-600x600.jpg" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>Tai nghe Bluetooth AirPods Pro MagSafe Charge Apple MLWK3 Trắng</h6>
                                    <span>4.890.000đ</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>

<section class="from-blog spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title from-blog__title">
                    <h2>TIN CÔNG NGHỆ</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic">
                        <img src="img/blog/blog-1.jpg" alt="">
                    </div>
                    <div class="blog__item__text">
                        <ul>
                            <li><i class="fa fa-calendar-o"></i>11/4/2022</li>
                            <li><i class="fa fa-comment-o"></i> 5</li>
                        </ul>
                        <h5><a href="#">Vivo X Fold lộ ảnh thực tế trước thềm ra mắt, màn hình không nếp gấp đẹp xuất sắc</a></h5>
                        <p>Chỉ còn vài ngày nữa là Vivo X Fold, chiếc smartphone màn hình gập đầu tiên của Vivo chính thức ra mắt. Mới đây, những hình ảnh trên tay thực tế của sản phẩm đã xuất hiện mang đến cái nhìn cận cảnh hơn.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic">
                        <img src="img/blog/blog-2.jpg" alt="">
                    </div>
                    <div class="blog__item__text">
                        <ul>
                            <li><i class="fa fa-calendar-o"></i>11/4/2022</li>
                            <li><i class="fa fa-comment-o"></i> 5</li>
                        </ul>
                        <h5><a href="#">Galaxy Z Fold4 và Z Flip4 sẽ không có cảm biến vân tay dưới mình hình</a></h5>
                        <p>Cả Galaxy Z Fold4 và Z Flip4 đều dự kiến sẽ ra mắt trong năm nay. Đã có rất nhiều tin đồn về bộ đôi này xuất hiện và mới nhất là thông tin Galaxy Z Fold4 và Z Flip4 sẽ không có cảm biến vân tay dưới màn hình.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic">
                        <img src="img/blog/blog-3.jpg" alt="">
                    </div>
                    <div class="blog__item__text">
                        <ul>
                            <li><i class="fa fa-calendar-o"></i>11/4/2022</li>
                            <li><i class="fa fa-comment-o"></i> 5</li>
                        </ul>
                        <h5>
                            <a href="#">
                                Sau Apple, tới lượt Samsung và OPPO lên kế hoạch sản xuất chip Silicon tùy chỉnh
                            </a>
                        </h5>
                        <p>Theo những báo cáo gần đây, Samsung và OPPO đang có ý định chuyển sang sử dụng chip thiết kế tùy chỉnh để tăng khả năng cạnh tranh với A-Series của Apple.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog Section End -->